.subtotal {
    display: flex;
    flex-direction: column;
    width: 300px;
    height:max-content;
    background-color: rgb(244,244,244);
    padding: 15px;
    margin-left: 10px;
}

.subtotal-gift {
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 12px;
}

.subtotal-checkout-btn {
    text-transform: none;
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 100%;
    height: auto;
}